html,
body,
#app {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.container-light {
    margin: 0px;
}

.container-dark {
    margin: 0px;
    background-color: #1c2022;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.nav li {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.title-link {
    font-weight: bold;
    text-decoration: none;
    color: rgb(187, 46, 31);
}

.newsInfo {
    color: grey;
    margin-top: 5px;
}

.NewsEntry {
    padding-top: 10px;
    padding-bottom: 10px;
}

.CommentsEntry {
    background: lightgrey;
    padding: 10px;
    margin: 10px 0;
}

.nav-link-light {
    color: #1c2022;
    text-align: center;
}

.nav-link-dark {
    color: lightgrey;
    text-align: center;
}

.bar-nav-link-light {
    font-weight: bold;
    text-decoration: none;
    color: #1c2022;
    text-align: center;
}

.bar-nav-link-dark {
    font-weight: bold;
    text-decoration: none;
    color: wheat;
    text-align: center;
}

.comments-link-light {
    color: #1c2022;
}

.comments-link-dark {
    color: lightgrey;
}

.btn {
    border: none;
    background: transparent;
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    padding: 0px;
}

.top-nav-light {
    background-color: wheat;
}

.top-nav-dark {
    background-color: black;
}

.loadingText {
    font-weight: bold;
    color: rgb(187, 46, 31);
}
