html,
body,
#app {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.container-dark {
    background-color: #394033;
    height: max-content;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.nav li {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.title-link-light {
    font-weight: bold;
    text-decoration: none;
    color: rgb(187, 46, 31);
}

.title-link-dark {
    font-weight: bold;
    text-decoration: none;
    color: rgb(238, 55, 34);
}

.newsInfo-light {
    color: grey;
    margin-top: 5px;
}

.newsInfo-dark {
    color: #F2CFC2;
    margin-top: 5px;
}

.NewsEntry {
    padding: 15px;
}

.nav-link-light {
    color: #1c2022;
    text-align: center;
    font-weight: bold;
}

.nav-link-dark {
    color: lightgrey;
    text-align: center;
    font-weight: bold;
}

.bar-nav-link-light {
    font-weight: bold;
    text-decoration: none;
    color: #1c2022;
    text-align: center;
}

.bar-nav-link-dark {
    font-weight: bold;
    text-decoration: none;
    color: wheat;
    text-align: center;
}

.comments-link-light {
    color: #1c2022;
}

.comments-link-dark {
    color: lightgrey;
}

.btn {
    border: none;
    background: transparent;
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    padding: 0px;
}

.top-nav-light {
    background-color: #F2CFC2;
    position: sticky;
    top: 0;
    z-index: 100;
}

.top-nav-dark {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.loadingText-light {
    font-weight: bold;
    color: rgb(187, 46, 31);
    height: 100vh;
    margin: 40px;
    padding-top: 15px;
}

.loadingText-dark {
    font-weight: bold;
    color: rgb(238, 55, 34);
    height: 100vh;
    margin: 40px;
    padding-top: 15px;
}

.CommentsEntry-light {
    background: lightgrey;
    padding: 10px;
    margin: 10px;
}

.CommentsEntry-dark {
    background: #6B7366;
    padding: 10px;
    margin: 10px;
}

.commentsInfo-light{
    padding: 10px;
}

.commentsInfo-dark{
    color: #F2CFC2;
    padding: 10px;
}

.commentsFull-light{
    padding: 10px;
}

.commentsFull-dark{
    color: #F2CFC2;
    padding: 10px;
}

.userHeader-light{
    margin: 0;
    padding-bottom: 10px;
}

.userHeader-dark{
    color: lightgrey;
    margin: 0;
    padding-bottom: 10px;
}

.userInfo-light{
    margin: 0;
    padding-top: 10px;
}

.userInfo-dark{
    color: lightgrey;
    margin: 0;
    padding-top: 10px;
}

.error-light{
    font-weight: bold;
    color: rgb(187, 46, 31);
    height: 100vh;
    margin: 40px;
    padding-top: 15px;
}

.error-dark{
    font-weight: bold;
    color: rgb(238, 55, 34);
    height: 100vh;
    margin: 40px;
    padding-top: 15px;
}

.newsContainer{
    margin: 40px;
}

.userInfoContainer{
    margin: 40px;
}

.postInfoContainer{
    margin: 40px;
}

.commentsContainer{
    margin: 40px;
}